USE [TTTT3]
GO
/****** Object:  Table [dbo].[CHITIETPHANQUYEN]    Script Date: 5/29/2023 2:15:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETPHANQUYEN](
	[IDCHITIETPHANQUYEN] [int] IDENTITY(1,1) NOT NULL,
	[IDNHANVIEN] [int] NOT NULL,
	[IDQUYEN] [int] NOT NULL,
 CONSTRAINT [PK_CHITIETPHANQUYEN] PRIMARY KEY NONCLUSTERED 
(
	[IDCHITIETPHANQUYEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETPHIEUTHU]    Script Date: 5/29/2023 2:15:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETPHIEUTHU](
	[IDCHITIETPHIEUTHU] [int] IDENTITY(1,1) NOT NULL,
	[IDPHIEU] [int] NOT NULL,
	[NOIDUNG] [varchar](100) NULL,
	[SOTIEN] [int] NULL,
 CONSTRAINT [PK_CHITIETPHIEUTHU] PRIMARY KEY NONCLUSTERED 
(
	[IDCHITIETPHIEUTHU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 5/29/2023 2:15:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[IDKHACHHANG] [int] IDENTITY(1,1) NOT NULL,
	[IDTUYENTHU] [int] NOT NULL,
	[IDLOAIKH] [int] NOT NULL,
	[IDXAPHUONG] [int] NOT NULL,
	[MAKHACHHANG] [varchar](20) NULL,
	[HOTEN] [varchar](50) NULL,
	[DIACHI] [varchar](100) NULL,
	[CMT] [varchar](12) NULL,
	[NGAYCAP] [datetime] NULL,
	[NGAYTAO] [datetime] NULL,
	[NGAYCHINHSUA] [datetime] NULL,
	[TRANGTHAI] [varchar](20) NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY NONCLUSTERED 
(
	[IDKHACHHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KYTHU]    Script Date: 5/29/2023 2:15:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KYTHU](
	[IDKYTHU] [int] IDENTITY(1,1) NOT NULL,
	[TENKYTHU] [varchar](7) NULL,
 CONSTRAINT [PK_KYTHU] PRIMARY KEY NONCLUSTERED 
(
	[IDKYTHU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIKH]    Script Date: 5/29/2023 2:15:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIKH](
	[IDLOAIKH] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAI] [varchar](20) NULL,
	[TENLOAIPHI] [varchar](50) NULL,
	[GIA] [money] NULL,
 CONSTRAINT [PK_LOAIKH] PRIMARY KEY NONCLUSTERED 
(
	[IDLOAIKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 5/29/2023 2:15:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[IDNHANVIEN] [int] IDENTITY(1,1) NOT NULL,
	[MANHANVIEN] [varchar](20) NULL,
	[HOTEN] [varchar](50) NULL,
	[SDT] [numeric](11, 0) NULL,
	[NGAYSINH] [datetime] NULL,
	[DIACHI] [varchar](100) NULL,
	[USERNAME] [varchar](50) NULL,
	[PASSWORD] [varchar](50) NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY NONCLUSTERED 
(
	[IDNHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHANQUYENTUYENTHU]    Script Date: 5/29/2023 2:15:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHANQUYENTUYENTHU](
	[IDPHANQUYENTUYENTHU] [int] IDENTITY(1,1) NOT NULL,
	[IDNHANVIEN] [int] NOT NULL,
	[IDTUYENTHU] [int] NOT NULL,
 CONSTRAINT [PK_PHANQUYENTUYENTHU] PRIMARY KEY NONCLUSTERED 
(
	[IDPHANQUYENTUYENTHU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUTHU]    Script Date: 5/29/2023 2:15:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUTHU](
	[IDPHIEU] [int] IDENTITY(1,1) NOT NULL,
	[IDKHACHHANG] [int] NOT NULL,
	[IDKYTHU] [int] NOT NULL,
	[IDNHANVIEN] [int] NOT NULL,
	[MAUSOPHIEU] [varchar](50) NULL,
	[KYHIEU] [varchar](50) NULL,
	[TRANGTHAIPHIEU] [varchar](10) NULL,
	[NGAYTAO] [datetime] NULL,
 CONSTRAINT [PK_PHIEUTHU] PRIMARY KEY NONCLUSTERED 
(
	[IDPHIEU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUANHUYEN]    Script Date: 5/29/2023 2:15:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUANHUYEN](
	[IDQUANHUYEN] [int] IDENTITY(1,1) NOT NULL,
	[TENQUANHUYEN] [varchar](50) NULL,
 CONSTRAINT [PK_QUANHUYEN] PRIMARY KEY NONCLUSTERED 
(
	[IDQUANHUYEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUYEN]    Script Date: 5/29/2023 2:15:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUYEN](
	[IDQUYEN] [int] IDENTITY(1,1) NOT NULL,
	[TENQUYEN] [varchar](20) NULL,
 CONSTRAINT [PK_QUYEN] PRIMARY KEY NONCLUSTERED 
(
	[IDQUYEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TUYENTHU]    Script Date: 5/29/2023 2:15:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TUYENTHU](
	[IDTUYENTHU] [int] IDENTITY(1,1) NOT NULL,
	[IDQUANHUYEN] [int] NOT NULL,
	[MATUYENTHU] [varchar](50) NULL,
	[TENTUYENTHU] [varchar](20) NULL,
 CONSTRAINT [PK_TUYENTHU] PRIMARY KEY NONCLUSTERED 
(
	[IDTUYENTHU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XAPHUONG]    Script Date: 5/29/2023 2:15:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XAPHUONG](
	[IDXAPHUONG] [int] IDENTITY(1,1) NOT NULL,
	[IDQUANHUYEN] [int] NOT NULL,
	[TENXAPHUONG] [char](50) NULL,
 CONSTRAINT [PK_XAPHUONG] PRIMARY KEY NONCLUSTERED 
(
	[IDXAPHUONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CHITIETPHANQUYEN]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETP_RELATIONS_NHANVIEN] FOREIGN KEY([IDNHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([IDNHANVIEN])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CHITIETPHANQUYEN] CHECK CONSTRAINT [FK_CHITIETP_RELATIONS_NHANVIEN]
GO
ALTER TABLE [dbo].[CHITIETPHANQUYEN]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETP_RELATIONS_QUYEN] FOREIGN KEY([IDQUYEN])
REFERENCES [dbo].[QUYEN] ([IDQUYEN])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CHITIETPHANQUYEN] CHECK CONSTRAINT [FK_CHITIETP_RELATIONS_QUYEN]
GO
ALTER TABLE [dbo].[CHITIETPHIEUTHU]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETP_RELATIONS_PHIEUTHU] FOREIGN KEY([IDPHIEU])
REFERENCES [dbo].[PHIEUTHU] ([IDPHIEU])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CHITIETPHIEUTHU] CHECK CONSTRAINT [FK_CHITIETP_RELATIONS_PHIEUTHU]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [FK_KHACHHAN_KHACHHANG_LOAIKH] FOREIGN KEY([IDLOAIKH])
REFERENCES [dbo].[LOAIKH] ([IDLOAIKH])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [FK_KHACHHAN_KHACHHANG_LOAIKH]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [FK_KHACHHAN_RELATIONS_TUYENTHU] FOREIGN KEY([IDTUYENTHU])
REFERENCES [dbo].[TUYENTHU] ([IDTUYENTHU])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [FK_KHACHHAN_RELATIONS_TUYENTHU]
GO
ALTER TABLE [dbo].[PHANQUYENTUYENTHU]  WITH CHECK ADD  CONSTRAINT [FK_PHANQUYE_RELATIONS_NHANVIEN] FOREIGN KEY([IDNHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([IDNHANVIEN])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PHANQUYENTUYENTHU] CHECK CONSTRAINT [FK_PHANQUYE_RELATIONS_NHANVIEN]
GO
ALTER TABLE [dbo].[PHANQUYENTUYENTHU]  WITH CHECK ADD  CONSTRAINT [FK_PHANQUYE_RELATIONS_TUYENTHU] FOREIGN KEY([IDTUYENTHU])
REFERENCES [dbo].[TUYENTHU] ([IDTUYENTHU])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PHANQUYENTUYENTHU] CHECK CONSTRAINT [FK_PHANQUYE_RELATIONS_TUYENTHU]
GO
ALTER TABLE [dbo].[PHIEUTHU]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUTHU_RELATIONS_KYTHU] FOREIGN KEY([IDKYTHU])
REFERENCES [dbo].[KYTHU] ([IDKYTHU])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PHIEUTHU] CHECK CONSTRAINT [FK_PHIEUTHU_RELATIONS_KYTHU]
GO
ALTER TABLE [dbo].[PHIEUTHU]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUTHU_RELATIONS_NHANVIEN] FOREIGN KEY([IDNHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([IDNHANVIEN])
GO
ALTER TABLE [dbo].[PHIEUTHU] CHECK CONSTRAINT [FK_PHIEUTHU_RELATIONS_NHANVIEN]
GO
ALTER TABLE [dbo].[PHIEUTHU]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUTHU_THU_KHACHHAN] FOREIGN KEY([IDKHACHHANG])
REFERENCES [dbo].[KHACHHANG] ([IDKHACHHANG])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PHIEUTHU] CHECK CONSTRAINT [FK_PHIEUTHU_THU_KHACHHAN]
GO
ALTER TABLE [dbo].[TUYENTHU]  WITH CHECK ADD  CONSTRAINT [FK_TUYENTHU_RELATIONS_QUANHUYE] FOREIGN KEY([IDQUANHUYEN])
REFERENCES [dbo].[QUANHUYEN] ([IDQUANHUYEN])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TUYENTHU] CHECK CONSTRAINT [FK_TUYENTHU_RELATIONS_QUANHUYE]
GO
ALTER TABLE [dbo].[XAPHUONG]  WITH CHECK ADD  CONSTRAINT [FK_XAPHUONG_RELATIONS_QUANHUYE] FOREIGN KEY([IDQUANHUYEN])
REFERENCES [dbo].[QUANHUYEN] ([IDQUANHUYEN])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[XAPHUONG] CHECK CONSTRAINT [FK_XAPHUONG_RELATIONS_QUANHUYE]
GO
